<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device=width">
        <meta name="description" content="Affordable and professional web design">
        <meta name="keywords" content="web design, affordable web design, graphic design, avatar, professional web design"> 
        <meta name="author" content="Immortalian">
        <title>Immortalian | Welcome</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1><span class="highlight">Immortalian </span>Web Design</h1>
                </div>
{% include nav.html %}
            </div>
        </header>

        {{ content }}

        <footer>
            <p>Immortalian, Copyright &copy; 
              <span class = 'year'></span>
          </p> 
        </footer>
      <script src = '/index.js'></script>
    </body>
 </html>
